<br><br>
Idea blatantly ripped off from 
<a href="http://www.monkeydyne.com/rmcs/buildmeat.html">http://www.monkeydyne.com/rmcs/buildmeat.html</a><br><br>
<a href="index.php?code=1">Code</a> released under the <a href="http://www.gnu.org/copyleft/gpl.html">GPL</a>.<br>
<a href="images/">Images</a> ripped off from <a href="http://jerkcity.com">Jerkcity</a> (except the cat)<br>
It seems to work fine in Safari and Mozilla.  Untested in IE (don't send complaints).<br>
Please send code patches and boners to enigma [no spam, please!] at <a href="http://netninja.com">netninja dot com</a>.  Well, maybe not the boners.<br><br>
<span class=tiny>
UPDATE: Added background images<br>
UPDATE: Fixed minor problem with apostrophes and quotes being backslash-escaped<br>
<br>
Want to download a copy of this generator script for your own PHP-based web server?  It is a simple download involving two steps:<br>
1) Install Linux, Unix, OS X, Cygwin, etc.<br>
2) <code>cd /tmp && wget --no-parent --recursive --page-requisites http://netninja.com/jerkit/ && mv 'netninja.com/jerkit/index.php?code=1' netninja.com/jerkit/index.php && tar -zcvf my_personal_archive.tgz ./netninja.com</code><br>

</span>
</body>
