    <table border=0 cellspacing=0 cellpadding=5><tr><td>
        <table border=0 cellspacing=0 cellpadding=0><tr><td align=center class=white>
            <table border=1 bordercolor=#000000 cellspacing=0 cellpadding=3><tr><td class=white>
                {{upper .caption | html }}
            </td></tr></table>
        </td></tr><tr><td align=center>
            <img src="images/caption_{{.direction}}.gif">
        </td></tr></table>
    </td></tr></table>
