{{template "base-header.html"}}
<font style="font-size:200%">Jerk Yourself</font><br><br>

Simply fill out this safe and easy form to create your
very own <a href="http://jerkcity.com">Jerkcity</a> comic.<br><br>

<table border=0 cellspacing=0 cellpadding=3>
<form method=get>
<tr><td colspan=3>
    Title: <input type=text name=tagline size=30>
</td></tr>

<tr><td></td>
    <td><select name="u1">
          {{range .}}<option value="{{index . 0}}">{{index . 1}}</option>
          {{end}}</select></td>
    <td><select name="u2">
          {{range .}}<option value="{{index . 0}}">{{index . 1}}</option>
          {{end}}</select></td>
</tr>

<tr><td>Cell 1</td>
    <td><textarea name="c1a" rows=3 cols=20></textarea></td>
    <td><textarea name="c1b" rows=3 cols=20></textarea></td></tr>

<tr><td>Cell 2</td>
    <td><textarea name="c2a" rows=3 cols=20></textarea></td>
    <td><textarea name="c2b" rows=3 cols=20></textarea></td></tr>

<tr><td>Cell 3</td>
    <td><textarea name="c3a" rows=3 cols=20></textarea></td>
    <td><textarea name="c3b" rows=3 cols=20></textarea></td></tr>

<tr><td colspan=3>
    <input type=hidden name="op" value="make">
    <input type=submit value="Jerk-It!"></td></tr>
</form>
</table>
{{template "base-footer.html"}}
