    <table border=1 bordercolor=#000000 cellspacing=0 cellpadding=1 width="100%"><tr><td class=bg align=center>
        <table border=0 cellspacing=0 cellpadding=0>
            <tr><td align=center>{{caption .cap1 .dir1}}</td>
                <td align=center>{{caption .cap2 .dir2}}</td></tr>
            <tr>
                <td align=center valign=bottom>{{scrub .char1 .dir1}}</td>
                <td align=center valign=bottom>{{scrub .char2 .dir2}}</td>
            </td>
        </table>
    </td></tr></table>
