{{template "base-header.html"}}
<table border=0 cellspacing=0 cellpadding=3>
<tr><td align=center>
<span class=title>{{html .Title | upper}}</span><br><br>
<span class=captionBold>STARRING</span><span class=caption><br>
{{html .Char1 | upper}}<br>
{{html .Char2 | upper}}<br><br></span>
<a href="{{.ObfuscatedURL}}">obfuscated link</a>
</td><td align=center>
    <!-- printPanel($u1, $u2, $c1a, $c1b); -->
    {{panel .Char1 .Char2 (index .Captions 0)}}
</td></tr><tr><td align=center>
    <!-- printPanel($u1, $u2, $c2a, $c2b); -->
    {{panel .Char1 .Char2 (index .Captions 1)}}
</td><td align=center>
    <!-- printPanel($u1, $u2, $c3a, $c3b); -->
    {{panel .Char1 .Char2 (index .Captions 2)}}
</td></tr></table>
<br><a href="{{.BaseURL}}">Jerk it again</a><br>
{{template "base-footer.html"}}
